body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #111;
  text-align: center;
  margin: 10px;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 1em 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

nav ul {
  list-style:none;
  font-size: 18px;
  padding: 0px;
  margin: 0px;
  display:flex;
  justify-content: center;
  background-color: #019688;
  border-radius: 10px;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 0.5em 1em;
  display: block;
}

nav ul li a:hover {
  background-color: #555;
  transition: background-color 0.3s;
}


/* الكتب */

table {
  padding-top: 50px;
  width: 80%;
  margin: 30px auto;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  font-size: 18px;
}

.tablehome {
  padding-top: 50px;
  width:  35%;
  margin: 30px auto;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  font-size: 18px;
}

thead {
  background-color: #009688;
  color: #fff;
}

thead th {
  padding: 15px;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody td {
  padding: 15px;
  border-bottom: 1px solid #dddddd;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

button {
  background-color: #009688;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}

button:hover {
  background-color: #00796b;
}

.form-container {
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: none;
  font-size: 18PX;

}

.form-container h2 {
  margin-bottom: 20px;
}

label {
  display:block;
  text-align: right;
  margin-bottom: 10px;
  margin-right: 14px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.extra-details {
  padding: 10px;
  padding-bottom: 50px;
  background-color: #f9f9f9;
  text-align: right;
}

.extra-details p {
  margin-bottom: 20px;
  font-size: 18px;
}

.images-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.images-container img {
  max-width: 200px;
  margin-right: 150px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

section {
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: right;
}

footer {
  margin-top: 200px;
  font-size: 18px;
}

footer a {
  background-color: #009688;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

footer a:hover {
  background-color: #00796b;
}

/* Footer styles */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.footer .share {
  padding: 1rem 0;
  text-align: center;
  margin: 1rem;
  color: #e6e7e8;
}

.footer .share img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
}

.footer .logoo {
  text-align: center;
  margin: 20px 0;
}

.footer .logoo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.footer .namefooter {
  margin-top: 10px;
  font-size: 18px;
  color: #e6e7e8;
}

img {
  transition: transform 0.2s;
  cursor: pointer;
}

img:active {
  transform: scale(1.5);
}

img:hover {
  transform: scale(1.5);
}

.error-message {
  color: red;
  margin-top: 5px;
}

/* home */

.name {
  display: flex;
  align-items: center;
  flex-direction:column;
  gap: 10px;
  padding-top: 50px;
  
}

.name p {
  background-color: white;
  font-size: 18px;
  padding: 20px;
  width: 39rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* تنسيق النصوص */
.text-style {
  font-family: 'Tahoma', sans-serif; /* نوع الخط الخاص بالنصوص */
  font-size: 20px; /* حجم الخط */
  color: #333; /* لون النص */
  line-height: 1.6; /* ارتفاع السطر */
  text-align: center;
  display: grid;
  direction: rtl;
}

.imgabout  {
  margin-top: 100px; 
}

.continueButton {
  font-size: 20px;
}

.show-details-button{
  font-size: 16PX;
}

.submitButton{
  font-size: 20px;
}
